@font-face {
    font-family: Myriad Pro;
    src: url(../fonts/Myriad.ttf);
}

@font-face {
    font-family: Crimson Text;
    src: url(../fonts/Crimson.ttf);
}
@font-face {
    font-family: Myriad Prop;
    src: url(../fonts/MyriadPro.ttf);
}
